# Veritabani Ayarlari
DB_HOST=localhost
DB_PORT=5432
DB_NAME=portfolyo_db
DB_USER=postgres
DB_PASSWORD=your_password_here

# AWS Ayarlari
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=eu-central-1
S3_BUCKET_NAME=portfolyo-projesi-images
